@import '@fontsource/open-sauce-sans/300.css';
@import'@fontsource/open-sauce-sans/400.css';
@import '@fontsource/open-sauce-sans/500.css';
@import '@fontsource/open-sauce-sans/600.css';
@import '@fontsource/open-sauce-sans/700.css';
@import '@fontsource/open-sauce-sans/800.css';
@import '@fontsource/open-sauce-sans/900.css';
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-sauce-sans:'Open Sauce Sans', sans-serif;
    --color-main:#0f8465;
    --color-second:#87D038;
}